# Created by venv; see https://docs.python.org/3/library/venv.html
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
.venv/
.env/

# Django stuff
db.sqlite3
/staticfiles/
/media/

# Logs
*.log

# IDEs and editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

