asgiref==3.10.0
diff-match-patch==20241021
dj-database-url==3.0.1
Django==4.2.25
django-import-export==4.3.12
gunicorn==23.0.0
packaging==25.0
psycopg2-binary==2.9.11
python-dotenv==1.2.1
sqlparse==0.5.3
tablib==3.9.0
tzdata==2025.2
whitenoise==6.11.0
