{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ author.last_name }} {{ author.first_name }}</h1>

  <p><strong>Date_of_birth:</strong> {{ Author.date_of_birth }}</p>

  <p><strong>Date_of_death:</strong> {{ Author.date_of_death }}</p>

  <div style="margin-left:20px;margin-top:20px">
      <h4>Books by this author:</h4>
    {% if author.book_set.all %}
      <ul>
        {% for book in author.book_set.all %}
          <li>
            <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No books found for this author.</p>
    {% endif %}
  </div>
{% endblock %}  <!-- 🔹 כאן הסגירה של בלוק התוכן -->

{% block sidebar %}
  {{ block.super }}

  {% if perms.catalog.change_author or perms.catalog.delete_author %}
  <hr>
  <ul class="sidebar-nav">
    {% if perms.catalog.change_author %}
      <li><a href="{% url 'author-update' author.id %}">Update author</a></li>
    {% endif %}
    {% if not author.book_set.all and perms.catalog.delete_author %}
      <li><a href="{% url 'author-delete' author.id %}">Delete author</a></li>
    {% endif %}
  </ul>
  {% endif %}
{% endblock %}
