{% extends "base_generic.html" %}

{% block content %}
  <h1>Delete Book Copy</h1>

  {% if bookinstance.status == 'o' %}
    <p>This copy cannot be deleted because it is currently on loan.</p>
    <p>Status: <strong>{{ bookinstance.get_status_display }}</strong></p>
    <a href="{% url 'book-detail' bookinstance.book.id %}" class="btn btn-secondary">Back to Book</a>

  {% else %}
    <p>Are you sure you want to delete this copy of <strong>{{ bookinstance.book.title }}</strong>?</p>

    <form action="" method="POST">
      {% csrf_token %}
      <input type="submit" value="Yes, delete" class="btn btn-danger">
      <a href="{% url 'book-detail' bookinstance.book.id %}" class="btn btn-secondary">Cancel</a>
    </form>
  {% endif %}
{% endblock %}
