{% extends "base_generic.html" %}

{% block content %}
  <h1>Delete Book: {{ book.title }}</h1>

  {% if book.bookinstance_set.all %}
    <p>You can't delete this book until all its copies have been deleted:</p>
    <ul>
      {% for copy in book.bookinstance_set.all %}
        <li>
          Copy ID: {{ copy.id }} – Status: {{ copy.get_status_display }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Are you sure you want to delete this book?</p>
    <form action="" method="POST">
      {% csrf_token %}
      <input type="submit" value="Yes, delete.">
    </form>
  {% endif %}
{% endblock %}
